.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #998f8f;
  color: white;
  margin-top: -7.8px;
  margin-left: -7.8px;
  margin-right: -7.8px;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-links a:hover {
  color: lightgray;
}

.navbar-actions {
  display: flex;
  gap: 10px;
}

.navbar-actions button {
  padding: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-actions button:hover {
  color: lightgray;
}
.user-list {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  max-height: 100px;
  overflow-y: auto;
}
